<% include ../partials/header %>

<div class="container">
   <div class="row">
       <div class="col-md-4">
            <% if(user.firstName || user.lastName) { %>
                <h1><%= user.firstName + " " + user.lastName %></h1>
            <% } else { %>
                <h1><%= user.username %></h1>
            <% } %>
            <div class="thumbnail">
                <img src="<%= user.avatar %>" alt="user profile image">
                <div class="caption">
                    <a href="mailto:<%=user.email%>"><%=user.email%></a>
                </div>
            </div>
            <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <a href="/users/<%= user._id %>/edit" class="btn btn-xs btn-warning">Edit Profile!</a>
            <% } %> 
       </div>
       <div class="col-md-8 text-right">
           <h3><%= user.username %>'s Campgrounds:</h3>
           <ul class="user-camp-list">
           <% campgrounds.forEach(function(campground){ %>
                <li>
                    <a href="/campgrounds/<%=campground.id %>"><%= campground.name %></a>
                </li>
           <% }); %>
           </ul>
       </div>
   </div> 
</div>


<% include ../partials/footer %>